.show-phantom .join-btn .menu-item-text {
  background-color: #e67e22;
  padding: 8px 12px;
}

.user-directory-listings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-card {
  /* background: rgba(255, 255, 255, 0.6); */
  background: rgba(255, 255, 255);
  padding: 1rem;
  border-radius: 8px;
}
.content-card h2,  .content-card h3, .content-card h4{
  color: #673f69;

}
.content-card a{
  color:#F26849;
}
.content-card a:hover{
  text-decoration:underline;
}
/* .directory-card, .card {
  background: rgba(255,255,255);
  padding: 1rem;
  border-radius: 8px;
  
} */


/* .card-white {
  background: rgba(255,255,255) !important;
} */
.directory-card-inner {
  display: grid;
  grid-template-columns: 80px 1fr auto;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.directory-col.listing-info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #673f69;
}

.directory-col.listing-info p {
  margin: 0;
  font-size: 0.9rem;
}

.directory-col.edit-button a {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border: 2px solid #673f69;
  color: #673f69;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
}

.directory-card-mini {
  position: relative;
  text-align: center;
  padding: 1rem;
 
}
.directory-card-mini .status-tag{
  position: absolute;
  top: 10px;
  right: 10px;
}


.status-tag {

  display: inline-block;
  padding: 0.3rem 0.7rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 999px;
  color: #fff;
  letter-spacing: 0.5px;
}
.pmpro_account-section .status-tag{
  position: relative;
}

.status-live {
  background-color: #247556; /* Green for live */
}

.status-pending {
  background-color: #e67e22; /* Orange for pending */
}
.status-disabled {
  background-color: #f44336; /* Red */
  color: white;
}

.pmpro_actions_nav a{
  color:white;
}
.pmpro_actions_nav a:hover{
  color:#f2a341;
}
#sidebar a.btn{
  color:white;
}
#sidebar a.btn-secondary{
  color:#F26849;
}
/* #sidebar */

#pmpro_login .pmpro_member_display_name a, #pmpro_login .pmpro_card_actions a{
  color:#F26849;
}
#pmpro_login .pmpro_member_display_name a:hover, #pmpro_login .pmpro_card_actions a:hover{
  color:#f2a341;
}
.widget_pmpro_member_login{
  border:none;
}
#menu-account-sidebar-menu {
  margin-top:2rem;
  margin-bottom: 2rem;
}
#pmpro_login  .menu-btn.menu-item a {
  color:#F26849;
  margin-left: 2rem;
  margin-top: 1rem;
}
#pmpro_login .menu-btn.menu-item a:hover {
  color:#F2A341;
}
#pmpro_login  .pmpro_card_actions a{
  color:#F26849 !important;
}
.pmpro .pmpro_card.pmpro_logged_in_welcome_wrap{
  border: none;
  border-radius: 12px;
  /* background-color: rgba(255, 255, 255, 0.6); */
}
.pmpro_card_actions button#other_discount_code_toggle{
  color:#F26849 !important;
}
.pmpro .pmpro_card.pmpro_logged_in_welcome_wrap .menu a {
color: #673f69 !important;
text-decoration:underline

}
.pmpro .pmpro_card.pmpro_logged_in_welcome_wrap .menu a:hover {
  color: #F2A341 !important;
  text-decoration:none;
  }
/* Button styles */
.btn,  .pmpro_btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: #F26849;
  color: #fff;
  border: 2px solid #F26849;
  font-size:1.2em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover, #pmpro_btn-submit:hover, .pmpro_btn:hover{
  background-color: #F2A341;
  color: #fff;
  border-color: #F2A341;
  text-decoration:none;
}
.btn.btn-secondary {
  background-color: white;
  border-color : #F26849;
  color: #F26849;
}
.btn.btn-light, .pmpro_btn-submit-checkout{
  background-color: #F2A341;
  border-color : #F2A341;
  color: white;
}
.btn.btn-light:hover, .pmpro_btn-submit-checkout:hover {
  background-color: white;
  border-color : white;
  color: #F2A341;
}

.btn.btn-secondary:hover {

  background-color : #F2A341;
  border-color: #F2A341;
  color: white;
}
.btn.btn-disabled{

  background-color : #F2A34130 !important;
  border-color :  #F2A34130 !important;
  color: white;
  cursor: not-allowed;
}

.btn-small {
  font-size:1em;
  padding: 0.3rem 0.8rem;
}
#button{
  text-shadow:none;
}

.btn-outline{
  background-color: transparent;
  color: #F26849;
  border: 4px solid #F26849;
  padding: 2rem 4rem;
  font-size: 2em;
  border-radius: 0;
}
.btn-outline a:hover{
color:white;
}

.coral {
  color: #F26849
}
.golden {
  color: #F2A341
}
.text-purple {
  color: #673f69;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}

/* #pmpromm_address_fields {
  display: flex !important
} */

/* .break {
  flex-basis: 100%;
  height: 0;
}

.col-2 { 
  max-width: 48%
} */
#pmpro_form_fieldset-application-information-private .pmpro_form_fields,
#pmpro_form_fieldset-map-settings .pmpro_form_fields,
#pmpro_form_fieldset-about-your-work-with-dr-joe .pmpro_form_fields{
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 10px;
}
.pmpro .pmpromm_address_fields {
  grid-template-columns: repeat(3, 1fr) !important;
}
.full-row, .pmpro_form_fields-description {
  grid-column: 1 / -1; /* spans the entire row */
}
.pmpro_form_field-file-preview img {
  height: 150px;
  width: auto;
}

#user_avatar_div{
  text-align: center;
}

.pmpro_form_field-file-preview img {
  height: 150px !important;
  width: 150px !important;

  object-fit: cover;
}

.pmpro_form_field-user_avatar .pmpro_form_field-file-preview img {
  border-radius:50%;
}

/* Tag Styling */
.tags {
  margin: 0.5rem 0;
}

.tag {
  display: inline-block;
  background-color: #247556;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  font-size: 0.85rem;
  margin: 0.2rem 0.3rem 0.2rem 0;
}
.tag.tag-skills { 
  background-color: #f26849;    

}
.tag.tag-opportunities { 
  background-color: #d94e81;    
}

