.pmpromm_infowindow h2 a{
  color: var(--color-purple);
}
.pmpromm_infowindow h2 a:hover{
  color: var(--color-coral);
}
.pmpromm_avatar img{
  border-radius:50%;
}
.pmpromm_date{
  display:none
}
.pmpromm_profile a{
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--color-coral);
  color: var(--color-white);
  border: 2px solid var(--color-coral);
  font-size:1.2em;
  text-align: center;
}
.pmpromm_profile a:hover {
  background-color: var(--color-golden);
  color: var(--color-white);
  border-color: var(--color-golden);
  text-decoration:none;
}

.pmpromm_infowindow .bodyContent {
  text-align: center;
}
